body {
  height: 100%;
  font-family: "Baloo Chettan 2", cursive;
  box-sizing: border-box;
  background-color: #161625 !important;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.main {
  text-align: center;
}
.btn {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}
.date {
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 65, 92);
  height: 200px;
  box-shadow: 5px white;
  margin: 20px;
  color:white;
  border:2px solid white;
  border-radius:20px;
  
  background: linear-gradient(to right, rgb(60, 65, 92,0.9) 0%, rgb(60, 65, 92,0.9) 100%),url("https://education.rajasthan.gov.in/content/dam/doitassets/education/medicaleducation/gmc-kota/pdf/studentpanel/covid19/giphy11.gif") center;  
background-size: 50vh;
}
.hideDate {
  display: none;
}
